<center><h4>ABOUT US</h4></center>
<center><p>-----------------</p><br/></center>
<div class="row">
<div class="col-md-9 col-xs-12">
<br/>
<p><b>WHO WE ARE?</b></p><br/>
<p><li>We are the sole distributor for Proctor and Gamble (P&G) in the Philippines for the Region I, II and III.</li></p>
<br/>

Please visit us at <a href="https://www.facebook.com/EMarket-545381085943127/" style="color: red">at our facebook </a> for more details.
<br/>
<br/>
</div>
<br/>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=133807620669872&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<br/>

<div class="fb-page col-md-3" data-href="https://www.facebook.com/EMarket-545381085943127/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/EMarket-545381085943127/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/EMarket-545381085943127/">EMarket</a></blockquote></div>
</div>
