<% if Spree::Slide.published.count > 0 %>

      <% Spree::Slide.published.order('position ASC').each do |s| %>

          <!-- <img src="https://vcsi.sgp1.digitaloceanspaces.com/AR_2016_BB_HR%20(1).jpg" style="max-width: 100%;"/> -->
          <!-- <%= image_tag(s.slide_image.url, :style => "max-width: 100%")%> -->
      <% end %>

<% end %>

<!-- <img src="https://vcsi.sgp1.digitaloceanspaces.com/AR_2016_BB_HR%20(1).jpg" style="max-width: 100%;"/> -->

<div class="owl-carousel">
<div class="item">
 <!-- <video width="100%" height="100%" autoplay loop muted id="video">
   <source src="https://vcsi.sgp1.digitaloceanspaces.com/Copy%20of%20Summer%20Sale%20Video%20Ad%20Template%20(4).mp4" type="video/mp4">
 </video> -->

  <!-- </div> -->
  <!-- <div><a class="owl-video" href="https://vcsi.sgp1.digitaloceanspaces.com/Copy%20of%20Summer%20Sale%20Video%20Ad%20Template%20(4).mp4"></a></div> -->
  <!-- <div><a href="/t/brands/monde-nissin"> <img src="https://vcsi.sgp1.digitaloceanspaces.com/monde-web.png" style="max-width: 100%;"/></a> </div> -->
  <!-- <div> <img src="https://vcsi.sgp1.digitaloceanspaces.com/rebateweb.png" style="max-width: 100%;"/> </div> -->
  <!-- <div> <img src="https://vcsi.sgp1.digitaloceanspaces.com/freeship.png" style="max-width: 100%;"/> </div> -->
  <!-- <div> <img src="https://vcsi.sgp1.digitaloceanspaces.com/AR_2016_BB_HR%20(1).jpg" style="max-width: 100%;"/> </div> -->
  <!-- <div><a href="/sale"><img src="https://vcsi.sgp1.digitaloceanspaces.com/SALE.png" style="max-width: 100%;"/></a></div> -->
  <!-- <div><a href="/account"><img src="https://vcsi.sgp1.digitaloceanspaces.com/REFERAFRIEND.png" style="max-width: 100%;"/></a></div> -->
  <div><img src="https://vcsi.sgp1.digitaloceanspaces.com/christmas.jpg" style="max-width: 100%;"/> </div>
</div>
</div>

<script>


var owl = $('.owl-carousel');
owl.owlCarousel({
    items:1,
    loop:false,
    margin:10,
    autoHeight:true,
    autoplay:false,
    autoplayTimeout:5000,
    touchDrag: true,
    autoplayHoverPause:true,
    onInitialized:theThing

});
function theThing(event){
  document.getElementById('video').click();
  document.getElementById('video').play();

};

</script>
