
  <% slides = Spree::Slide.published %>
  <%= render partial: 'spree/shared/slider', locals: { slider: slides } %>
<br/>
<% @body_id = 'home-page' %>

<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render partial: 'spree/shared/taxonomies' %>
  </div>
<% end %>

<section class="homepage-product-section" data-hook="homepage_products">
  <h2 class="section-heading no-border">Featured Products</h2>
    <%= render partial: 'spree/shared/products', locals: { products: @products } %>
</section>

<script>
  fbq('track', 'ViewContent');
</script>

<!-- <div id="overlay">
<div class="center"><h1 id="demo"></h1></div>
</div> -->


<script>

// // Set the date we're counting down to
// var countDownDate = new Date("July 14, 2018 08:00:00").getTime();
//
// // Update the count down every 1 second
// var x = setInterval(function() {
//
//   // Get todays date and time
//   var now = new Date().getTime();
//
//   // Find the distance between now an the count down date
//   var distance = countDownDate - now;
//
//   // Time calculations for days, hours, minutes and seconds
//   var days = Math.floor(distance / (1000 * 60 * 60 * 24));
//   var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
//   var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
//   var seconds = Math.floor((distance % (1000 * 60)) / 1000);
//
//   // Display the result in the element with id="demo"
//   document.getElementById("demo").innerHTML = days + "D " + hours + "h "
//   + minutes + "m " + seconds + "s ";
//
//   // If the count down is finished, write some text
//   if (distance < 0) {
//     clearInterval(x);
//     document.getElementById("demo").innerHTML = "EXPIRED";
//   }
// }, 1000);
</script>
